table, th, td {
    border:1px solid black;
}

th{
    width: 100vw;
    height: 2rem;
}
.employee-data:hover{
    background-color: grey;
    cursor: pointer;
}
.inTheRed{
    color: red;
}
.inTheBlack{
    color: black;
}